.result-container {
  display: grid;
  width: 85vw;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 30px;
  margin: 0 auto;
  border-bottom: 0.5px solid #999;
}

.recipe__title,
.recipe__image {
  /* justify-self: center; */
}
.recipe__ingredients,
.recipe__link,
.recipe__icons {
  align-self: center;
}

.recipe__title {
  justify-self: center;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  font-size: 32px;
}

.recipe__ingredients {
  display: flex;
  grid-row: 2 / 4;
  grid-column: 1 / 5;
  font-size: 18px;
  /* margin-left: 50px; */
}

.recipe__link-cta {
  display: flex;
  grid-row: 4 / -1;
  grid-column: 1 / 5;
}

.recipe__link {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 24px;
  margin-bottom: 10px;
}

.recipe__link:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width 0.4s;
}

.recipe__link:hover::after {
  width: 100%;
}

.recipe__image,
.container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  justify-self: flex-end;
  grid-row: 2 / -1;
  grid-column: 5 / -1;
  /* transition: all 0.3s ease-in-out; */
}

/* .recipe__image:hover {
  transform: scale(1.7);
} */
.container {
  position: relative;
  /* width: 100%; */
  /* grid-row: 2 / -1;
  grid-column: 5 / -1;
  justify-self: flex-end; */
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 100%; */
  /* width: 100%; */
  opacity: 0;
  transition: 0.5s ease;
  /* background: linear-gradient(270deg, #0597f2 40%, #0460d9 100%); */
  /* border-radius: 50%; */
}

.container:hover .overlay {
  opacity: 1;
  /* transform: scale(1.7); */
}

.text {
  width: 200px;
  height: 200px;
  color: #ccc;
  /* background-color: blue; */
  background: linear-gradient(270deg, #0597f2 40%, #0460d9 100%);
  font-size: 32px;
  border-radius: 50%;
  /* position: absolute;
  top: 50%;
  left: 50%; */
  /* -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
  text-align: center;
  /* justify-self: center; */
  line-height: 200px; /* align-items: center; */
}

.recipe__icons {
  height: 50px;
  margin-right: 30px;
}

@media (orientation: portrait) and (min-width: 320px) {
  .result-container {
    width: 80vw;
    padding: 20px 0px;
    min-height: 75vh;
  }
  .recipe__image,
  .recipe__ingredients,
  .recipe__link-cta {
    grid-column: 1 / -1;
  }

  .recipe__image,
  .recipe__ingredients p {
    align-self: center;
  }

  .recipe__title {
    font-size: 16px;
  }
  .recipe__image {
    width: 150px;
    height: 150px;
    grid-row: 1 / 4;
  }
  .recipe__image:hover {
    transform: scale(1.7);
  }
  .recipe__ingredients {
    grid-row: 3 / 4;
    align-self: flex-end;
    font-size: 14px;
  }
  .recipe__link-cta {
    grid-row: 4 / -1;
  }
  .recipe__icons {
    height: 35px;
    margin-right: 15px;
  }
  .recipe__link {
    font-size: 14px;
    margin: 0;
  }
}

@media (orientation: portrait) and (min-width: 360px) {
  .recipe__title {
    font-size: 20px;
  }
  .recipe__image {
    width: 200px;
    height: 200px;
  }
  .recipe__link,
  .recipe__ingredients {
    font-size: 18px;
  }
}

@media (orientation: portrait) and (min-width: 360px) {
  .recipe__title {
    font-size: 24px;
  }
  .recipe__image {
    width: 220px;
    height: 220px;
  }
}
