* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #ccc;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-page__icon {
  width: 400px;
  margin: auto;
}
