* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #ccc;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-page__icon {
  width: 25vw;
  margin: auto;
}

.spinner {
  width: 45vw;
  margin: 0 auto;
}

@media (orientation: portrait) and (min-width: 320px) {
  .main-page__icon {
    width: 40vw;
  }
}
